@model WirtualnyDziennik.Models.TypTresci

@{
    ViewBag.Title = "Book";
}

<h2>Book</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAZWA)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
